:host{
    width: 96px;
    height: 960px;
    position: absolute;
    left: 32px;
    top: 32px;
}

.sidenav-wrapper{
  width: 100%;
  height: 100%;
  background: #161D2F;
  border-radius: 20px;
  text-align: center;
  .flex-wrapper{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .icon-1{
      cursor: pointer;
      svg{
        fill: red;
        &:hover{
          fill:white
          
        }
      }
    }
    .navigation-btns{
          button{
            margin-top: 15px;    
           
            svg{
              transform: scale(1.5);
              fill:#5A698F;
              &:hover {
                  fill: red;
                }
            }
          }
    }
  }
}



@media only screen and(max-width:1000px){
 :host{
  position: static;
  width: 90%;
  height: 74px;
  margin: 15px auto;
 }
 .sidenav-wrapper{
  .flex-wrapper{
    height: 100%;
    flex-direction: row;
    align-items: center;
    width: 70%;
    .navigation-btns{
      width: 70%;
      margin-bottom: 18px;
    }
  }
 }
}



@media only screen and (max-width:675px){
  .flex-wrapper{
    width: 100%!important;
  }
}
@media only screen and (max-width:425px){
  :host{
    width: 100%;
  }
  
   .sidenav-wrapper{
    width: 100%;
    button{
      svg{
        transform: scale(1)!important;
      }
    }
    .flex-wrapper{
      width: 100%;
      .navigation-btns{
        width: auto;
      }
    }
   }
}



@media only screen and(max-width:320px) {
  .navigation-btns{
    display: flex;
    justify-content: flex-start;
  }
}